<h1>Change User Password</h1>
<%= form_for @user, url:update_password_path(@user) do |f| %>

<div>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Current Password"%>
</div>
<div>
  <%= f.label :new_password %>
  <%= f.password_field :new_password, placeholder: "New password (optional)" %>
</div>
<div>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: "Confirm new password" %>
</div>
<br>
<%= f.submit "Confirm Changes" %>
<% end %>
