<div class="forms">
  <h1>Change User Password</h1>
  <%= simple_form_for @user, url:update_password_path(@user) do |f| %>
    <%= f.input :password %>
    <%= f.input :new_password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>
