<h1><%= @project.title %></h1>

<div>
  Description: <%= @project.description %>
</div>
<div class="due_date">
  Due Date: <%= @project.due_date %>
</div>

<% if @project.favourited_by?(current_user) %>
  <%= link_to "Un-Favourite", project_favourite_path(@project, @project.favourite_for(current_user)), method: :delete %>
<% else %>
  <%= link_to "Favourite", project_favourites_path(@project), method: :post %>
<% end %>

<div>
  <%= link_to "Edit", edit_project_path(@project) %>
  |
  <%= link_to "Delete", project_path(@project), method: :delete,
                                                data:{confirm: "Deleting will permantly remove project"} %>
</div>

<h3>Tasks for <%= @project.title %></h3>

<% @project.tasks.each do |task| %>
    <ul>
      <li><%= task.body %> | <%= link_to task.undone, undone_project_task_path(@project, task), method: :patch %> </li>
    </ul>
<% end %>

<hr>
<h2>Add New Task</h2>
<%# @task.errors.full_messages.join(", ") %>

<%= form_for [@project, @task] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <%= f.submit %>
<% end %>
<hr>

<h2>Discussions</h2>

<h3>Add New Discussion</h3>
<%= @discussion.errors.full_messages.join(", ") %>
<%= form_for [@project, @discussion] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<% @project.discussions.each do |discussion| %>
  <p><%= link_to discussion.title, project_discussion_path(@project, discussion) %></p>
  <hr>
  <!-- have to find a way to link to show page of discussion, add comments there -->
<% end %>
